@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}

.container {
    width: 100%;
    background-color: rgb(232, 240, 247);
    height: 500px;
}

#logo {
    color:  #1877f2;
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-style: normal;
}

.loginbox {
    height: 300px;
    width: 400px;
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
}

.loginbox input {
    width: 350px;
    padding:15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

button {
    width: 384px;
    padding:15px;
    margin-top: 20px;
    background-color: #1877f2;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border: none;
    border-radius: 5px;
}

h5{
    margin-top: 10px ;
    color: #1877f2;
    padding: 5px;
    text-align: center;
    display: inline-block;

}

.footer{
    text-align: center;
    margin-top: 30px;
}